#div{
    text-align: center;
    position: absolute;
    top: 100%;
    width: auto;
    object-position: center;
    
}
#aaa{
    position: absolute;
    width: 1000px;
    right: 15%;
}
#tit{
    text-align: center;
}